.wrapper {
  display: flex;
  height: 100vh;
  padding: 0 20px;
}

.inner {
  width: 400px;
  margin: auto;
  padding: 40px;
  text-align: center;
  border: 1px solid var(--gray2-color);
  border-radius: 5px;
}

/*550px___________________________________________________*/
@media (max-width: 550px) {
  .inner {
    padding: 30px;
  }
}