.btn {
  overflow: hidden;
  max-width: 200px;
  margin-left: auto;
  padding: 12px 22px;
  font-size: 18px;
  text-overflow: ellipsis;
  color: var(--white1-color);
  background-color: var(--blue3-color);
  border: 1px solid var(--blue3-color);
  border-radius: 5px;
  transition: background-color 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue1-color);
  border: 1px solid var(--blue1-color);
}

.btn:active {
  position: relative;
  top: 2px;
}