.title {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  word-break: break-all;
  color: var(--black1-color);
}

/*1024px___________________________________________________*/
@media (max-width: 1024px) {

  .title {
    font-size: 20px;
  }
}

/*550px___________________________________________________*/
@media (max-width: 550px) {

  .title {
    font-size: 18px;
  }

}