@import url('normalize.css');

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url('../src/assets/fonts/Roboto-Thin.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('../src/assets/fonts/Roboto-Light.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../src/assets/fonts/Roboto-Regular.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('../src/assets/fonts/Roboto-Medium.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('../src/assets/fonts/Roboto-Bold.ttf') format('TrueType');
}


@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url('../src/assets/fonts/Roboto-Black.ttf') format('TrueType');
}

:root {
  --white1-color: #FFFFFF;

  --gray1-color: #A6A6A6;
  --gray2-color: #ced4da;
  --gray3-color: #818181;
  --gray4-color: #F1F3F2;
  --gray5-color: #464544;
  --gray6-color: #f7f7f7;


  --black1-color: #1B1F2B;
  --black2-color: black;

  --blue1-color: #2AABEE;
  --blue2-color: #269ad8;
  --blue3-color: #126d9e;

  --red1-color: tomato;

  --green1-color: #335b38;
  --green2-color: #4c7e52;

}

#root {
  position: relative;
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}